<template>
  <div>
    <div class="request-info" @click="showData = !showData">
      <div>{{response.config.url}}</div>
      <div>{{response.status}}</div>
      <div>{{response.statusText}}</div>
    </div>
    <div class="response-data" v-show="showData">
      <pre>{{response.data}}</pre>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ResponseRow',
  props: {
    response: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      showData: false
    }
  },

  created () {
    console.log(this.response)
  }
}
</script>
<style lang="scss" scoped>
  .request-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
</style>
