<template>
  <div class="looker-toolbar" :class="{'show': showToolbar}">
    <h1 @click="showToolbar = !showToolbar">Looker Request</h1>
    <template v-for="(response, index) in responseList">
      <ResponseRow :key="index" :response="response"/>
    </template>
  </div>
</template>

<script>
import ResponseRow from './ResponseRow'
export default {
  name: 'ToolBar',
  data () {
    return {
      responseList: [],
      showToolbar: false
    }
  },
  components: {
    ResponseRow
  },
  computed: {
    // requestList () {
    //   return this.$loader.request
    // }
  },
  methods: {},
  created () {
  },
  beforeCreate () {
  },
  mounted () {
    // Add a request interceptor
    const self = this
    this.$axios.interceptors.request.use(function (config) {
      // Do something before request is sent
      return config
    }, function (error) {
      // Do something with request error
      return Promise.reject(error)
    })

    // Add a response interceptor
    this.$axios.interceptors.response.use(function (response) {
      // console.log(response.config)
      self.responseList.push(response)
      return response
    }, function (error) {
      // Do something with response error
      // loaderInstance.loadingStatus = false
      return Promise.reject(error)
    })
  }
}
</script>
<style lang="scss" scoped>
.looker-toolbar {
  z-index: 10000;
  position: absolute;
  background: #000;
  right: 0;
  width: 33%;
  color: #fff !important;
  padding: 10px;
  height: 40px;
  &.show {
    height: 100%;
  }
}
</style>
